# 服务配置
NODE_ENV=development
PORT=3000

# RPC 节点
ETH_NODE=https://eth.llamarpc.com
GOERLI_NODE=https://goerli.infura.io/v3/YOUR_KEY
BSC_NODE=https://bsc-dataseed.binance.org
BSC_TESTNET_NODE=https://data-seed-prebsc-1-s1.binance.org:8545
ZKSYNC_NODE=https://mainnet.era.zksync.io
ARBITRUM_ONE_NODE=https://arb1.arbitrum.io/rpc
LINEA_NODE=https://rpc.linea.build
BASE_NODE=https://mainnet.base.org
OPBNB_NODE=https://opbnb-mainnet-rpc.bnbchain.org
SIMPLECHAIN_NODE=https://rpc.simplechain.com

# 子图 API
THE_GRAPH_API_KEY=xxx
NODE_REAL_SUBGRAPH_API_KEY=xxx

# Explorer API
EXPLORER_API_KEY=xxx

# 缓存配置
CACHE_TTL=900
CACHE_MAX_ITEMS=1000

# CORS
CORS_ORIGIN=*
